@import url('components/card.css');
@import url('components/button.css');
@import url('components/container.css');
@import url('components/banner.css');



a{
	font-family: 'Playfair Display', serif;
	text-align: center;

}
body {
	margin: 0;
	font-family: 'Playfair Display', serif;
	background-color: orangered;
	color: white;
}



